
{% load static %}
<footer id="footer">
    <div class="container">
        <div class="links-container">
            <div class="links">
                <span>About worldexpresscarrier:</span> 
                <ul>
                    <li class="first"><a href="https://iship.seawavelogs.com/Logistics-Home.html">Home</a></li>
                    <li><a href="{% url 'about'%}">About Us</a></li>
                    <li><a hrf="{% url 'TruckLoad'%}">Shipment Tracking</a></li>
                    <li><a href="{% url 'airposrt'%}">Air Freight</a></li>
                    <li><a href="{% url 'export'%}">Export</a></li>
                    <li><a href="{% url 'importx'%}">Import </a></li>
                    
                </ul>
            </div>
            
                        
                     
            <div class="social">
                Always stay connected with us.. <br><br>
                 <a href="http://www.facebook.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/facebook.png'%}" width="20" height="20" border="0" title="Facebook"></a>
                 <a href="http://www.twitter.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/twitter.png'%}" width="20" height="20" border="0" title="Twitter"></a>
                 <a href="http://www.youtube.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/youtube.png'%}" width="20" height="20" border="0" title="Youtube"></a>
                 <a href="http://www.flickr.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/flickr.png'%}" width="20" height="20" border="0" title="Flickr"></a>
                 <a href="http://www.delicious.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/delicious.png'%}" width="20" height="20" border="0" title="Delicious"></a>
                 <a href="http://www.stumbleupon.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/stumbleupon.png'%}" width="20" height="20" border="0" title="Stumbleupon"></a>
                 <a href="http://www.digg.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/digg.png'%}" width="20" height="20" border="0" title="Digg"></a>
                 <a href="http://feeds.feedburner.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/rss.png'%}" width="20" height="20" border="0" title="RSS"></a>
                 <a href="https://plus.google.com/" target="_blank"><img src="{% static './SeawaveLogisticsfiles/google-plus-one.png'%}" width="32" height="20" border="0" title="Google +1"></a>
            </div>
            
            <div class="copyright clear">
                Copyright © 2017-2024 All Rights Reserved </div>
        </div>
        <div class="map">
            <h2>Find your logistics contacts</h2>
            <a href="{% url 'ContactheretoAdministrator'%}"><img src="{% static './SeawaveLogisticsfiles/worldmap.png'%}" alt="Worldwide Logistics Services" width="200" height="97" border="0"></a>
            <div class="info">Our customers are served by a Global Logistics Network, worldwide offices staffed by dedicated teams of experts.</div>
            <div><a href="#">FIND LOCATIONS »</a></div>
        </div>
    </div>
</footer>