{% load static %}


<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'd2aa0f81606715c15bb42265625e6fa117eed989';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>


            
<script type="" src="{% static './AirFreightfiles/jquery-ui.custom.js.download'%}"></script>
<link href="{% static './AirFreightfiles/jquery-ui.custom.css'%}" media="screen" rel="stylesheet" type="text/css">
<script type="" src="{% static './AirFreightfiles/jquery.idTabs.min.js.download'%}"></script>
<script type="" src="{% static './AirFreightfiles/slicker.js.download'%}"></script>
<script type="" src="{% static './AirFreightfiles/common.js.download'%}"></script>
<script type="" src="{% static './AirFreightfiles/jquery.hoverpulse.js.download'%}"></script>
<link href="{% static './AirFreightfiles/template.css'%}" media="screen" rel="stylesheet" type="text/css">
<link href="{% static './AirFreightfiles/general.css'%}" media="screen" rel="stylesheet" type="text/css">
<script type="" src="{% static './AirFreightfiles/kendo.web.min.js.download'%}"></script>
<script type="" src="{% static './AirFreightfiles/kendo.culture.en.min.js.download'%}"></script>
<script type="" src="{% static './AirFreightfiles/kendo.culture.en-US.min.js.download'%}"></script>
<script type="" src="{% static './AirFreightfiles/uploader.html'%}"></script>
<link href="{% static './AirFreightfiles/kendo.common.css'%}" media="screen" rel="stylesheet" type="text/css">
<link href="{% static './AirFreightfiles/kendo.uniform.css'%}" media="screen" rel="stylesheet" type="text/css">
<link href="{% static './AirFreightfiles/pagination.css'%}" media="screen" rel="stylesheet" type="text/css">














<nav class="top-nav">
    <div class="container">
        <link href="{% static './CustomsBrokeragefiles/pagination.css'%}" media="screen" rel="stylesheet" type="text/css">

        <link href="{% static './CustomsBrokeragefiles/menu.css'%}" media="screen" rel="stylesheet" type="text/css"><ul class="dm-menu">
<li>
    <a class="noTitle" href="{% url 'home'%}" title="Home" target="_self">Home</a></li><li>
    <a class="noTitle" href="{% url 'about'%}" title="About Us" target="_self">About Us</a></li><li class="current">
    <a class="noTitle" href="#" url  title="Our Services" target="_self">Our Services</a><ul><li class="current">
    <a class="noTitle" href="{% url 'airposrt'%}" title="Air Freight" target="_self">Air Freight</a></li><li class="current">
    <a class="noTitle" href="{% url 'SeaFreight' %}" title="Sea Freight" target="_self">Sea Freight</a></li><li class="current">
    <a class="noTitle" href="{% url 'TruckLoad'%}" title="LCL &amp; Truck Load" target="_self">LCL &amp; Truck Load</a></li><li class="current">
    <a class="noTitle" href="{% url 'CustomsBrokerage' %}" title="Customs Brockerage" target="_self">Customs Brockerage</a></li><li class="current">
    <a class="noTitle" href="{% url 'SeawaveLogistics'%}" title="Cargo Airlines" target="_self">Cargo Airlines</a></li></ul></li><li></li><li>
    <a class="noTitle" href="{% url 'TruckLoad'%}" title="Shipment Tracking" target="_self">Shipment Tracking</a></li><li>
    <a class="noTitle" href="{% url 'Requestforquote' %}"Request For Quote" target="_self">Request For Quote</a></li><li>
    <a class="noTitle" href="{% url 'ourclient'%}" target="_self">Our Clients</a></li><li>
    <a class="noTitle" href="{% url 'importx'%}" title="Import" target="_self">Import</a></li><li>
    <a class="noTitle" href="{% url 'export'%}" title="Export" target="_self">Export</a></li><li>
    <a class="noTitle" href="{% url 'ContactheretoAdministrator'%}" title="Contact Us" target="_self">Contact Us</a>	
</li></ul></div>

</nav>
