{% load static %}
<nav class="top-nav">
    <div class="container">
        <link href="{% static './Customs Brokerage_files/pagination.css'%}" media="screen" rel="stylesheet" type="text/css">

        <link href="{% static './Customs Brokerage_files/menu.css'%}" media="screen" rel="stylesheet" type="text/css"><ul class="dm-menu">
<li>
    <a class="noTitle" href="{% url 'home'%}" title="Home" target="_self">Home</a></li><li>
    <a class="noTitle" href="{% url 'about'%}" title="About Us" target="_self">About Us</a></li><li class="current">
    <a class="noTitle" href="#" url  title="Our Services" target="_self">Our Services</a><ul><li class="current">
    <a class="noTitle" href="{% url 'airposrt'%}" title="Air Freight" target="_self">Air Freight</a></li><li class="current">
    <a class="noTitle" href="{% url 'SeaFreight' %}" title="Sea Freight" target="_self">Sea Freight</a></li><li class="current">
    <a class="noTitle" href="{% url 'TruckLoad'%}" title="LCL &amp; Truck Load" target="_self">LCL &amp; Truck Load</a></li><li class="current">
    <a class="noTitle" href="{% url 'CustomsBrokerage' %}" title="Customs Brockerage" target="_self">Customs Brockerage</a></li><li class="current">
    <a class="noTitle" href="{% url 'SeawaveLogistics'%}" title="Cargo Airlines" target="_self">Cargo Airlines</a></li></ul></li><li></li><li>
    <a class="noTitle" href="{% url 'ContactheretoAdministrator'%}" title="Shipment Tracking" target="_self">Shipment Tracking</a></li><li>
    <a class="noTitle" href="{% url 'Requestforquote' %}"Request For Quote" target="_self">Request For Quote</a></li><li>
    <a class="noTitle" href="{% url 'ourclient'%}" target="_self">Our Clients</a></li><li>
    <a class="noTitle" href="{% url 'importx'%}" title="Import" target="_self">Import</a></li><li>
    <a class="noTitle" href="{% url 'export'%}" title="Export" target="_self">Export</a></li><li>
    <a class="noTitle" href="{% url 'ContactheretoAdministrator'%}" title="Contact Us" target="_self">Contact Us</a>	
</li></ul></div>
</nav>